/* all this CSS can be adapted to your needs */
/* Note: the html/body got 100% because if there is no surrounding of 
   the div-rotator the wiping from the outside in does not work.
   In website-embedded cases you might not need this 100%-settings. */


html,body
{
margin:0;
padding:0;
width:100%;
height:100%;
}

div#div-main
{
margin:auto;
width:40em;
text-align:center;	
}


.div-rotator
{
font-size:34px;
width:80%;   /* do not set height, the script resets the effective values */
color:navy;
}


.div-rotator a,
.div-rotator a:hover,
.div-rotator a:link,
.div-rotator a:active
{
text-decoration:none;	
color:navy;
}

.div-rotator a:hover
{
text-decoration:underline;		
}

.div-rotator .small
{
font-size:80%;		
}

.div-rotator .big
{
font-size:130%;		
}

.div-rotator .medium
{
font-size:100%;		
}

.div-rotator img
{
top:-2em;	
left:-1em;	
width:4em;		
height:auto;
}
.div-rotator a img:hover
{
border-bottom:0.1em solid;
}


